
@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon"
          href="//theme.hstatic.net/200000321771/1000699946/14/favicon.png?v=302"
          type="image/png" />
    <!-- Icon -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <!-- Reset CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />

    <!-- Quicksand font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <title>MILK SHOP- Thanh toán đơn hàng</title>
    @Styles.Render("~/Content/base")
    @Styles.Render("~/Content/checkout")
    @Styles.Render("~/Content/footer")

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 99999999; /* Sit on top */
            padding-top: 150px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 40px;
            border: 1px solid #888;
            width: 50%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            display: flex;
            justify-content: flex-end;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }


        .btn-checkvoucher{
            border:none;
            outline:none;
            background-color:#ff6a00;
            border-radius:5px;
            color:white;
            padding:5px 8px;
            cursor:pointer;
        }
            .btn-checkvoucher:hover {
                background-color: #e1772c;
            }
    </style>

</head>
<body>





    <div class="main">
        <div class="grid">
            <div class="checkout">
                <div class="checkout-info">
                    <div class="checkout-logo-text checkout-item">
                        <a style="color:#000000" href="/"> MILK SHOP</a>
                    </div>
                    <ul class="checkout-breadcrumb checkout-item">
                        <li class="breadcrumb-item">
                            <a href="/cart" class="text-link cart">Giỏ hàng </a>
                            <i class="icon-link bx bx-chevron-right"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="text-link">Thông tin giao hàng</span>
                            <i class="icon-link bx bx-chevron-right"></i>
                        </li>

                    </ul>
                    <div class="checkout-text checkout-item">Thông tin giao hàng</div>

                    <!-- <form  class="form-info checkout-item">-->
                    <div class="form-info checkout-item">
                        <div class="form-control form-item">
                            <input placeholder="Họ và tên" id="fullname" type="text" name="fullName" />
                            <small></small>
                        </div>
                        <div class="form-inline form-item">
                            <div class="form-control w-2">
                                <input placeholder="Email" id="email" type="text" name="email" />
                                <small></small>
                            </div>
                            <div class="form-control w-1">
                                <input placeholder="Số điện thoại" id="phone" name="phone" />
                                <small></small>
                            </div>
                        </div>
                        <div class="form-control form-item">
                            <input placeholder="Địa chỉ" id="address" type="text" name="address" />
                            <small></small>
                        </div>
                        <div class="form-inline form-item">
                            <div class="form-control w-1">
                                <select placeholder="Tỉnh/Thành phố"
                                        id="province"
                                        type="text">
                                    <option value="invalid">Tỉnh/Thành phố</option>

                                </select>
                                <small></small>
                            </div>
                            <div class="form-control w-1">
                                <select placeholder="Quận/Huyện" id="district" type="text">
                                    <option value="invalid">Quận/Huyện</option>

                                </select>
                                <small></small>
                            </div>
                            <div class="form-control w-1">
                                <select placeholder="Phường/Xã" id="village" type="text">
                                    <option value="invalid">Phường/Xã</option>

                                </select>
                                <small></small>
                            </div>
                        </div>

                        <div class="pay form-item">
                            <a href="/cart" class="cart">Giỏ hàng</a>
                            <button type="button" class="btnPay" id="save_btn">
                                THANH TOÁN
                            </button>
                        </div>
                    </div>

                    <!--     </form>  -->
                </div>
                <div class="checkout-bill">
                    <div class="checkout-product" id="detailProduct">


                    </div>
                    <div class="payment">

                        <div class="payment-money">
                            <div class="total">
                                <div class="total-text">Tạm tính:</div>
                                <div class="total-text total-money" id="tamTinh">0₫</div>
                            </div>
                            <div class="total">
                                <div class="total-text">Phí vận chuyển:</div>
                                <div class="total-text total-money">50,000 VND</div>
                            </div>
                            <div class="total">
                                <div class="form-inline form-item">
                                    <div class="form-control w-2">
                                        <input placeholder="Voucher" id="voucherCode" name="voucherCode" />
                                        <small class="err-voucher" style="margin-top:10px;"></small>
                                    </div>
                                    <button onclick="checkVoucher()" class="btn-checkvoucher">Kiểm tra</button>

                                </div>
                               
                            </div>
                            <div class="total">
                                <div class="total-text">Khuyến mãi:</div>
                                <div class="total-text total-money" id="discount">0 VND</div>
                            </div>
                        </div>
                        <div class="payment-total total">
                            <div class="total-text">Tổng cộng:</div>
                            <div class="total-text total-money" id="totalMoney">0₫</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-top">
            <div class="grid">
                @* <div class="footer-news">
                        <i class="footer-top-icon bx bx-mail-send"></i>Đăng kí nhận tin
                    </div>

                    <div class="footer-form-news">
                        <input type="text"
                               placeholder="Nhập email của bạn"
                               class="send-mail" />
                        <button type="submit" class="btn-sendmail">Đăng ký</button>
                    </div>*@
                <div class="footer-contact">
                    <i class="footer-top-icon bx bxs-phone"></i> Hỗ trợ / Mua hàng
                    0924989342
                </div>
            </div>
        </div>
        <div class="footer-mid"></div>
        <div class="footer-bot"></div>
    </footer>



    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="text-modal" style="display:flex;align-items:center;justify-content:center">
                <p style="text-align:center;color:blue;font-weight:bolder;font-size:15px">Đặt hàng thành công</p>
            </div>
        </div>

    </div>


    @Scripts.RenderFormat("<script src='{0}' type='module'></script>", "~/bundles/checkout")





</body>
</html>

<script>
    const listCart = JSON.parse(window.localStorage.getItem('cart'));
    let totalMoney = document.getElementById('totalMoney');
    let tamTinh = document.getElementById('tamTinh');
    let render = document.getElementById('detailProduct');
    let total = 0
    let afterDiscount = 0;

    let totalNum = 0;
    let tamTinhNum = 0;
    function renderTableLeft(dataList) {
        $(document).ready(() => {
            let str = ''

            let count = 0;
            dataList.forEach((el, index) => {
                count++
                let intoMoney = Number(el['price']) * Number(el['amount'])



                let bodyCart = `
                    <div class="product-item">
                                <div class="item-img">
                                    <img src='${el['img']}'
                                         alt=""
                                         class="img-product" />
                                    <span class="amount">${el['amount']}</span>
                                </div>
                                <div class="item-info">
                                    <div class="info-left">
                                        <div class="info-name-product">
                                           ${el['title']}
                                        </div>
                                        <div class="info-size-product">${el['sku']}</div>
                                    </div>
                                    <div class="info-right">
                                        <div class="item-money">${intoMoney.toLocaleString()},000VND</div>
                                    </div>
                                </div>
                            </div>
                `
                total += intoMoney
                str += bodyCart
            })

         

            let m = parseInt(total) + 50;
            totalNum = Number(m);
            tamTinhNum=Number(total)
           @* console.log(m)*@
            totalMoney.innerHTML = m.toLocaleString() + ",000VND";
            tamTinh.innerHTML = total.toLocaleString() + ",000VND";
            render.innerHTML = str;

         
        })
    }
    renderTableLeft(listCart);


    const checkVoucher = async () => {
        const voucherCode = document.getElementById('voucherCode').value;

        if (voucherCode) {
            const res = await fetch(`/bill/checkvoucher?voucherCode=${voucherCode}`)
            const voucherData = await res.json();
            const errVoucher = document.querySelector('.err-voucher');
            if (voucherData.err) {
                errVoucher.innerHTML = voucherData.msg;
                totalMoney.innerHTML = totalNum.toLocaleString() + ',000VND'
            }
            else {
                console.log(voucherData)
                const discount = Number(voucherData.data.discount);
                errVoucher.innerHTML = `Voucher giảm ${discount}%`;

                const discountM = (tamTinhNum * discount) / 100;
                document.getElementById('discount').innerHTML = discountM.toLocaleString()+',000VND'

                afterDiscount = tamTinhNum - discountM + 50;
                totalMoney.innerHTML = afterDiscount.toLocaleString() + ',000VND'
            }
        }
    }
</script>

